.img{
    background-image:url('../../assets/imgs/beautiful.png');
    background-repeat: no-repeat;
    background-size:2000px;}

    h1{
        text-align: center;
      
            width:150px;
            height:150px;
            -webkit-border-radius: 50%;
            border-radius: 50%;
          
          }
      
